
  
 
        <div class="row">
          <div class="large-12 columns">
       
           
       
            <div class="row">
              <div class="large-12 hide-for-small">
       
                <div id="featured" data-orbit>
                	<%= image_tag("cityslide.png")%>
                    
                     <%= image_tag("patio.png")%>
                    <%= image_tag("rooms.png")%>
                  </div>
       
            </div>
          </div>
                    <h1 class="mid"><b>Contáctanos para una evaluación 098-3787-800</b></br></br>
       <h1 class="middle"><b>Que nos hace únicos?</b></br>
       </br>
     
       Nuestros cursos se basan en estrategias personalizadas y práctica. Hemos consolidado el mejor material y ofrecemos
       pruebas de diagnóstico reales supervisadas. Nuestros profesores
         tienen experiencia trabajando con diferentes estrategias de aprendizaje y te apoyamos desde tu preparación hasta tu carta de aceptación.  
       </h1>
           
       
           
       
            <div class="row">
              <div class="large-12 columns show-for-small">
       
                <%= image_tag("cityslide.png")%>
              </div>
            </div><br>
       
           
       
       
            <div class="row">
              <div class="large-12 columns">
                <div class="row">
                   
                  <div class="large-4 small-6 columns">
       
                    <h4>Pruebas Estandarizadas</h4><hr>
       
                    <div class="row">
                      <div class="large-1 column">
                        <img src="http://placehold.it/50x50&text=[img]">
                      </div>
       
                      <div class="large-9 columns">
                        <h5 class="subheader"><%= link_to 'SAT'.html_safe, sat_path  %></h5>
                        <h6 class="subheader show-for-small">Doors at 00:00pm</h6>
                      </div>
                    </div><hr>
       
                    <div class="hide-for-small">
                      <div class="row">
                        <div class="large-1 column">
                          <img src="http://placehold.it/50x50&text=[img]">
                        </div>
       
                        <div class="large-9 columns">
                          <h5 class="subheader"><%= link_to 'GRE'.html_safe, gre_path  %></h5>
                        </div>
                      </div><hr>
       
                      <div class="row">
                        <div class="large-1 column">
                          <img src="http://placehold.it/50x50&text=[img]">
                        </div>
       
                        <div class="large-9 columns">
                          <h5 class="subheader"><%= link_to 'GMAT'.html_safe, gmat_path  %></h5>
                        </div>
                      </div><hr>
       
                      <div class="row">
                        <div class="large-1 column">
                          <img src="http://placehold.it/50x50&text=[img]">
                        </div>
       
                        <div class="large-9 columns">
                            <h5 class="subheader"><%= link_to 'TOEFL'.html_safe, toefl_path  %></h5>
                        </div>
                      </div>
                    </div>
                  </div>
                   
       
       
                   
       
                  <div class="large-4 small-6 columns">
                  	<%= image_tag("maxevans.png")%>
                    
                  </div>
       
                   
       
       
                   
       
                  <div class="large-4 small-12 columns">
       
                    <h4>Testimonio</h4><hr>
                    <div class="panel">
                      <h5><a href="#">Luciana A.</a></h5>
       
                      <h6 class="subheader">
                      	Lu, our GRE student getting ready for her Masters in Econometrics <br><br> 
                        <i>"Me saque 158 en quant! Gracias por las clases!" </i>
                        
                      </h6>
       
                      <h6><a href="#">Read More »</a></h6>
                    </div>
       
                    <div class="panel hide-for-small">
                      <h5><a href="#">Antonella F.</a></h5>
                    </div>
       
                    <div class="panel hide-for-small">
                      <h5><a href="#">Adriana S.</a></h5>
                    </div>
       
                    <a href="#" class="right">Read More »</a>
       
                  </div>
       
                   
       
                </div>
              </div>
            </div>
       
           
       
       
           
       

           
       
          </div>
        </div>   
        
        
            <script>
        document.write('<script src=js/vendor/' +
        ('__proto__' in {} ? 'zepto' : 'jquery') +
        '.js><\/script>')
        </script>
        <script src="js/foundation.min.js"></script>
        <script>
          $(document).foundation();
        </script>
       
 
       
