<p id="notice"><%= notice %></p>

<p>
  <strong>Skills:</strong>
  <%= @profile.skills %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @profile.intro %>
</p>

<p>
  <strong>Exp:</strong>
  <%= @profile.exp %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
