<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63936822-1', 'auto');
  ga('send', 'pageview');

</script>

<header>
             
        <nav class="top-bar" data-topbar>
          
          <ul class="title-area">
             
            <li class="name">
              
                	
            
                  <%= link_to image_tag("logo.png", class: "logo-icon"), landing_path %>
                  <a class="logo-name"><b>Eigen</b> Prep</a> 
                   
              </li>
              
              	
              	
              
            <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
          </ul>
          
          
       
          <section class="top-bar-section">
             
            <ul class="right">
           
        
              <li class="has-dropdown">
                <%= link_to 'SAT'.html_safe, sat_path  %>
                <ul class="dropdown">
                  <li><%= link_to 'About'.html_safe, sat_path  %></li>
                  <li><%= link_to 'Diagnostic'.html_safe, diagnostic_path  %></li>
                <li><%= link_to 'Curso'.html_safe, sat_path  %></li>
                  <li class="divider"></li>
                  <li><a href="#">See all →</a></li>
                </ul>
              </li>
             
             <li class="has-dropdown">
                <%= link_to 'GRE'.html_safe, gre_path  %>
                <ul class="dropdown">
                  <li><%= link_to 'About'.html_safe, gre_path  %></li>
                  <li><%= link_to 'Diagnostic'.html_safe, diagnostic_path  %></li>
                  <li><%= link_to 'Curso'.html_safe, gre_path  %></li>
                  <li class="divider"></li>
                  <li><a href="#">See all →</a></li>
                </ul>
              </li>
             
           
              <li class="has-dropdown">
                <%= link_to 'GMAT'.html_safe, gmat_path  %>
                <ul class="dropdown">
                      <li><%= link_to 'About'.html_safe, gmat_path  %></li>
                  <li><%= link_to 'Diagnostic'.html_safe, diagnostic_path  %></li>
                    <li><%= link_to 'About'.html_safe, gmat_path  %></li>
                  <li class="divider"></li>
                  <li><a href="#">See all →</a></li>
                </ul>
              </li>
              <li class="has-dropdown">
                <a href="#">Llamenos</a>
                <ul class="dropdown">
                  <li><font color="white"><span class="fa fa-phone">(02)2040301</span> </font><br></li>
                  <li><font color="white"><span class="fa fa-phone">(098)3787800</span> </font></li>
                  
                  <li class="divider"></li>
                  <li><a href="#">See all →</a></li>
                </ul>
              </li>
              <li>
            		
            	</li>
            </ul>
            
            	
          </section>
        </nav>
       
         
       
</header>